@media (min-width: 1200px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1920px !important;
    max-height: 100%;
  }
}
.navbar{
  top:0 !important;
  width: 100%;
  z-index: 1000;
}
@media screen and (min-width: 1200px){
  .navbar-brand{
    box-shadow: -3px 3px 3px #295f77, 0 0 3px #295f77 ;
    border: 2.4px ridge #347ea2;
  }
}
.navbar-brand{
  border-radius: 5px;
  height: 45.5px;
  padding-right: 5px;
}

#back_to_top_button {
  background-color: #0e772a;
  border: 3px solid #0e772a;
  display: inline-block;
  width: 55px;
  height: 55px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 5%;
  right: 2.5%;
  transition: background-color .3s,
  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#back_to_top_button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5em;
  line-height: 47px;
  color: #fff;
}

#back_to_top_button:hover {
  cursor: pointer;
  background-color: #19631a;
  border: 3px solid #19631a;
}
#back_to_top_button:active {
  background-color: #164b17;
  border: 3px solid #164b17;
  content: "\fd77";
  font-family: FontAwesome;
}
#back_to_top_button.show, #nav.show {
  opacity: 1;
  visibility: visible;
}
nav li{
  list-style-type: none !important;
}
nav .col{
  -ms-flex-preferred-size:auto !important;
}
.laboratory .col:nth-child(2){
  margin-left: -10%;
}

.title_1{
  font-family: 'Times New Roman';
  font-size: 16px;
  padding-left: 28% !important;
  padding-top: 0.1%;
  margin-top: -16%;
  transform:scaleY(1.4);
  color: white;
  text-shadow: 1px 1px 2px #212529;
}

.title_2{
  font-family: 'Times New Roman';
  font-size: 14.5px;
  transform:scaleY(1.4);
  padding-left:25%;
  color: white;
  text-shadow: 1px 1px 2px #212529;
}
.laboratory .col{
  width: 300px !important;
}
.delivery .col{
  width: 400px !important;
}
.it .col{
  width: 320px !important;
}
.wrap {
  display: flex;
  margin-left: -8%;
  margin-bottom: 2.5%;
  margin-top: -2.5%;
  justify-content: center;

}
.earth{
  height: 23px !important;
  width: 25px !important;

  svg{
    margin-top: -12px;
    margin-left: -175px;
  }
}
.graticule {
  fill: #d0d6f3;
  stroke: rgba(60, 140, 215, 0.74);
  stroke-opacity: .5;
  stroke-width: 1px;
  pointer-events: none;
}
.land {
  fill: #198a1d;
}
.navbar, #d{
  position: -webkit-sticky !important;
  position: sticky !important;
  top:0;
  background:linear-gradient( to right, #326083, #317381, #257b53, #0e772a);
}
.navbar-brand{
  width: 205px;
}
.navbar-dark .navbar-nav .nav-link {
  color: white !important;
}
.telephone{
  color: white !important;
  font-weight: 700 !important;
  text-decoration: underline;
  margin-left: 10% !important;
}
.nav-link{
  padding-right: 1.3rem !important;
  padding-left:  1.3rem !important;
  font-size: 23px;
  font-family: 'Exo 2', sans-serif;
}
.navbar-nav{
  margin-left: 2% !important;
}
.search{
  margin-left: 5% !important;
  border-radius: 50% !important;
}
.place_for_button_search_1{
  padding: .8% 0 .8% 0;
  display: block;
  input[type=search] {
    margin-left: 15%;
    width: 70%;
  }
}
.place_for_button_search_2{
  display: none;
  input{
    background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 10px center;
    padding-left: 30px;
  }
  input[type=search] {
    margin-left: 10%;
    width: 25%;
  }
  input[type=search]:focus {
    width: 55%;
  }
}
input {
  outline: none;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}
input[type=search] {
  margin-top: .2%;
  margin-bottom: .5%;
  border: solid 1px #ccc;
  padding: 9px 20px 9px 32px;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
input[type=search]:focus {
  background-color: #fff;
  border-color: #66CC75;
  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);
}
input:-moz-placeholder {
  color: #999;
}
input::-webkit-input-placeholder {
  color: #999;
}
.navbar{
  position: relative;
}

.navbar .dropdown-menu div[class*="col"] {
  margin-bottom:1rem;
}
.navbar .dropdown-menu {
  background:linear-gradient( to right, #326083, #317381, #257b53, #0e772a);
  position: absolute;
}
.subparagraphs{
  display: flex;
}
.submenu_item{
  font-size: 20px;
  font-weight: 100 !important;
  font-family: 'Exo 2', sans-serif;
  text-align: left;
  a{
    color: #c0c0c0;
    font-weight: 100 !important;
  }
  a:hover{
    color: white;
    text-decoration: none;
    font-weight: 600 !important;
  }
}
.navbar .dropdown-menu {
  margin-top: 20px;
}
input[type=search] {
  padding: 5px 20px 5px 32px;
}

@media screen and (max-width: 500px) {
  .card-link{
    font-size: 15px !important;
  }
  .navbar .dropdown-menu div[class*="col"] {
    margin-bottom:0 !important;
  }

  .submenu_item {
    font-size: 14px !important;
  }
  .navbar .dropdown-menu {
    margin-top: 5px !important;
    border:none !important;
  }
  .subparagraphs{
    flex-direction: column;
    margin: 0 0 0 5% !important;
  }
  .subparagraphs .col{
    text-align: left !important;
  }
  .place_for_button_search_1{
    display: none;
  }
  .place_for_button_search_2{
    display: block;
  }
  .nav-link {
    margin-left: 8% !important;
  }
  .dropdown-menu {
    margin-left: 8% !important;}
  .navbar .dropdown-menu {
    margin-top:5px !important;
  }
  input[type=search] {
    padding: 5px 20px 5px 32px;
  }
  .dropdown-toggle::after {
    margin-left: 1.5em !important;
  }
}
@media screen and (min-width: 500px)and (max-width: 768px) {
  .card-link {
    font-size: 15px !important;
  }
  .submenu_item {
    font-size: 14px !important;
  }
  .callback-bt {
    height: 45px;
    width: 45px;
    bottom: 3%;
  }
  .callback-bt i {
    font-size: 25px;
    padding-right: 40%;
    margin-top: -15%;
  }
  .navbar .dropdown-menu div[class*="col"] {
    margin-bottom:0 !important;
  }
  .navbar .dropdown-menu {
    margin-top: 5px !important;
    border:none !important;
  }
  .subparagraphs{
    flex-direction: column;
    margin: 0 0 0 5% !important;
  }
  .subparagraphs .col{
    text-align: left !important;
  }
  .place_for_button_search_1{
    display: none;
  }
  .place_for_button_search_2{
    display: block;
  }
  .nav-link {
    margin-left: 8% !important;}
  .dropdown-menu {
    margin-left: 8% !important;}
  .navbar .dropdown-menu {
    margin-top:5px !important;
  }
  input[type=search] {
    padding: 5px 20px 5px 32px;
  }
  .dropdown-toggle::after {
    margin-left: 1.2em !important;
  }
}
@media screen and (min-width: 768px)and (max-width: 992px) {
  .card-link {
     font-size: 15px !important;
    }
  .submenu_item {
    font-size: 14px !important;
  }
  .callback-bt {
    height: 45px;
    width: 45px;
    bottom: 3%;
  }
  .callback-bt i {
    font-size: 25px;
    padding-right: 40%;
    margin-top: -15%;
  }
  .navbar .dropdown-menu div[class*="col"] {
    margin-bottom:0 !important;
  }
  .navbar .dropdown-menu {
    margin-top: 5px !important;
    border:none !important;
  }
  .subparagraphs{
    flex-direction: column;
    margin: 0 0 0 5% !important;
  }
  .subparagraphs .col{
    text-align: left !important;
  }
  .place_for_button_search_1{
    display: none;
  }
  .place_for_button_search_2{
    display: block;
  }
  .nav-link {
    margin-left: 8% !important;}
  .dropdown-menu {
    margin-left: 8% !important;}
  .navbar .dropdown-menu {
    margin-top:2px !important;
  }
  input[type=search] {
    padding: 5px 20px 5px 32px;
  }
}
@media screen and (min-width: 992px)and (max-width: 1200px) {
  .card-link {
    font-size: 15px !important;
  }
  .submenu_item {
    font-size: 14px !important;
  }
  .navbar .dropdown-menu div[class*="col"] {
    margin-bottom:0 !important;
  }
  .navbar .dropdown-menu {
    margin-top: 5px !important;
    border:none !important;
  }
  .subparagraphs{
    flex-direction: column;
    margin: 0 0 0 5% !important;
  }
  .subparagraphs .col{
    text-align: left !important;
  }
  .place_for_button_search_1{
    display: none;
  }
  .place_for_button_search_2{
    display: block;
  }
  .dropdown-menu {
    margin-left: 8% !important;}
  .navbar {
    padding-top:0;
    padding-bottom:0;
  }
  .navbar .dropdown {position:static;}
  .navbar .dropdown-menu {
    width:100%;
    left:0;
    right:0;
    top:45px;
    display:block;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
  }
  .navbar-nav .dropdown-menu {
    display: none;
  }
  .navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
    display:block;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.3s linear;
  }
  .navbar .dropdown-menu {
    border: 1px solid rgba(0,0,0,.15);
    background-color: #fff;
  }
  .navbar .dropdown-menu {
    margin-top:5px !important;
  }
  input[type=search] {
    padding: 5px 20px 5px 32px;
  }
}

@media screen and (max-width: 1200px) {
  .wrap {
  //  margin-top: 1% !important;
  }
  .submenu_item{
  padding-bottom: .3rem;
}
.navbar{
  a{
    color: white !important;
    text-decoration: none !important;
  }
  a:hover{
    font-weight: 600;
  }
  .navbar-brand:hover{
    font-weight: 200 !important;
  }
  .card-header {
    background: transparent !important;
    cursor:pointer;
    width: 95%;
    color: white;
    font-weight: 200;
    padding: .35rem .35rem !important;
    border: none !important;
  }
  li{
    font-size: 15px;
    color: white;
    font-weight: 200;
    border: none !important;
  }
  .card-header:hover,li:hover {
    font-weight: 600;
  }
  #accordion .collapsed:after {
    content: '\f0d7';
    font-family: FontAwesome;
    color: #ffffff;
    font-size: 20px;
    float: right;
    margin-left: 5px;
  }
  .card-body{
    padding: 0 !important;
    background: transparent !important;
    border: none !important;
  }
  .card-body ul{
    margin-bottom: 0 !important;
    margin-left: -30px !important;
  }
  .card{
    background: transparent !important;
    border: none !important;
  }
  .card li{
    padding-left: 18px !important;
  }
  .title_1{
    padding-left:32% !important;
    padding-top: .1%;
    margin-top: -15%;
  }
  .title_2{
    padding-left:48% !important;
  }
 }
  .overlay {
    display: none;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    width: 100%;
    padding-left: 3%;
  }

}
@media screen and (min-width: 1200px) {
  #Nav{
    display: none !important;
  }
  .navbar{
    text-align: center !important;
  }
  .nav-item{
    border-radius: 10px;
  }
  .nav-item:hover{
    border-radius: 10px;
    font-weight: 700;
    outline-offset: 15px;
    outline-color: rgba(255, 255, 255, 0);
    text-shadow: 1px 1px 2px #12117e;
  }
  .dropdown-toggle::after {
    content: none !important;
  }
  nav .laboratory{
    .col{
      padding-left: 7px !important;
      padding-right: 7px !important;
    }
  }
  nav .delivery{
    .col{
      padding-left: 7px !important;
      padding-right: 7px !important;
    }
  }
  nav .it{
    .col{
      padding-left: 7px !important;
      padding-right: 7px !important;
    }
  }
  .navbar {
    padding-top:0;
    padding-bottom:0;
  }
  .navbar .dropdown {position:static;}
  .navbar .dropdown-menu {
    width:100%;
    left:0;
    right:0;
    top:45px;
    display:block;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
  }
  .navbar-nav .dropdown-menu {
    display: none;
  }
  .navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
    display:block;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.3s linear;
  }
  .navbar .dropdown-menu {
    border: 1px solid rgba(0,0,0,.15);
    background-color: #fff;
  }
}
@media screen and (min-width: 1250px){
  .navbar .nav-item {
    margin:0 .15rem !important;
  }
}
@media screen and (min-width: 1300px){
  .navbar .nav-item {
    padding:.15rem .15rem !important;
    margin:0 .2rem;
  }
}
@media screen  and (min-width: 1200px)and (max-width: 1300px){
  .navbar .dropdown-menu {
    margin-top: 11.5px !important;
  }
}
@media screen  and (max-width: 1400px){
  .title_1{
    font-size: 15px;
   padding-left:32% !important;
  }
  .title_2{
    font-size: 14px;
   padding-left:28% !important;
  }
}

@media screen and (min-width: 1200px)and (max-width: 1431px){
  .nav-link{
    padding: .5rem .3rem !important;
  }
  .nav-link{
    padding: .5rem .5rem !important;
  }
  nav .company{
    margin: 0 0 0 17.5% !important;
  }
  nav .laboratory{
    margin: 0 0 0 26% !important;
  }
  nav .delivery{
    margin: 0 0 0 36% !important;
  }
  nav .it{
    margin: 0 0 0 48.5% !important;
  }
  nav .smk{
    margin: 0 0 0 59% !important;
  }
}
@media screen and (min-width: 1431px)and (max-width: 1479px){
  .nav-link{
    padding: .5rem .5rem !important;
  }
  nav .company{
    margin: 0 0 0 18% !important;
  }
  nav .laboratory{
    margin: 0 0 0 26.5% !important;
  }
  nav .delivery{
    margin: 0 0 0 37.5% !important;
  }
  nav .it{
    margin: 0 0 0 50% !important;
  }
  nav .smk{
    margin: 0 0 0 59% !important;
  }
}
@media screen and (min-width: 1479px)and (max-width: 1645px){
  nav .company{
    margin: 0 0 0 17% !important;
  }
  nav .laboratory{
    margin: 0 0 0 25.5% !important;
  }
  nav .delivery{
    margin: 0 0 0 36.5% !important;
  }
  nav .it{
    margin: 0 0 0 49% !important;
  }
  nav .smk{
    margin: 0 0 0 58% !important;
  }
}
@media screen and (min-width: 1645px)and (max-width: 1715px){
  nav .company{
    margin: 0 0 0 16% !important;
  }
  nav .laboratory{
    margin: 0 0 0 25% !important;
  }
  nav .delivery{
    margin: 0 0 0 34.6% !important;
  }
  nav .it{
    margin: 0 0 0 47.5% !important;
  }
  nav .smk{
    margin: 0 0 0 56% !important;
  }
}
@media screen and (min-width: 1715px)and (max-width: 1880px){
  nav .company{
    margin: 0 0 0 16% !important;
  }
  nav .laboratory{
    margin: 0 0 0 25% !important;
  }
  nav .delivery{
    margin: 0 0 0 34.6% !important;
  }
  nav .it{
    margin: 0 0 0 47.5% !important;
  }
  nav .smk{
    margin: 0 0 0 56% !important;
  }
}
@media screen and (min-width: 1880px) and(max-width:1920px){
  nav .company{
    margin: 0 0 0 14.5% !important;
  }
  nav .laboratory{
    margin: 0 0 0 24% !important;
    .col{
      padding-left: 7px !important;
      padding-right: 7px !important;
    }
  }
  nav .delivery{
    margin: 0 0 0 34% !important;
    .col{
      padding-left: 7px !important;
      padding-right: 7px !important;
    }
  }
  nav .it{
    margin: 0 0 0 46% !important;
    .col{
      padding-left: 7px !important;
      padding-right: 7px !important;
    }
  }
  nav .smk{
    margin: 0 0 0 55% !important;
  }
}
@media screen and (max-width: 1330px){

}
@media screen and (min-width: 1300px) and(max-width:1670px){
  .navbar .dropdown-menu {
    margin-top: 14px !important;
  }
}
@media screen and(max-width:1215px){
  .nav-link {
    padding-right: .21rem !important;
    padding-left: .21rem !important;
    font-size: 16px;
  }
  .submenu_item {
    font-size: 16px;
  }
}
@media screen and (max-width: 1365px){
.navbar-nav{
  margin-left: -1% !important;
  width: 100%;
}
  nav .company{
 //   margin: 0 0 0 17% !important;
  }
  nav .laboratory{
  // margin: 0 0 0 26% !important;
   .col{
     padding-left: 7px !important;
     padding-right: 7px !important;
   }
 }
  nav .delivery{
   // margin: 0 0 0 32% !important;
    .col{
      padding-left: 7px !important;
      padding-right: 7px !important;
    }
  }
  nav .it{
   // margin: 0 0 0 45% !important;
    .col{
      padding-left: 7px !important;
      padding-right: 7px !important;
    }
  }
  nav .smk{
    margin: 0 0 0 55% !important;
  }
}

@media screen and (min-width: 1215px) and(max-width:1235px){
  .nav-link {
    padding-right: .22rem !important;
    padding-left: .22rem !important;
    font-size: 16px;
  }
  .submenu_item {
    font-size: 16px;
  }
}
@media screen and (min-width: 1235px) and(max-width:1265px){
  .nav-link {
    padding-right: .2rem !important;
    padding-left: .2rem !important;
    font-size: 16.5px;
  }
  .submenu_item {
    font-size: 16.5px;
  }
}
@media screen and (min-width: 1265px) and(max-width:1330px){
  .nav-link {
    padding-right: .12rem !important;
    padding-left: .12rem !important;
    font-size: 17px;
  }
  .submenu_item {
    font-size: 17px;
  }
}
@media screen and (min-width: 1330px) and(max-width:1380px){
  .nav-link {
    padding-right: .25rem !important;
    padding-left: .25rem !important;
    font-size: 17px;
  }
  .submenu_item {
    font-size: 17px;
  }
}
@media screen and (min-width: 1380px) and(max-width:1405px){
  .nav-link {
    padding-right: .2rem !important;
    padding-left: .2rem !important;
    font-size: 17.5px;
  }
  .submenu_item {
    font-size: 17.5px;
  }
}
@media screen and (min-width: 1405px) and(max-width:1425px){
  .nav-link {
    padding-right: .2rem !important;
    padding-left: .2rem !important;
    font-size: 18px;
  }
  .submenu_item {
    font-size: 18px;
  }
}

@media screen and (min-width: 1425px) and(max-width:1450px){
  .nav-link {
    padding-right: .3rem !important;
    padding-left: .3rem !important;
    font-size: 18px;
  }
  .submenu_item {
    font-size: 18px;
  }
}
@media screen and (min-width: 1450px) and(max-width:1475px){
  .nav-link {
    padding-right: .4rem !important;
    padding-left: .4rem !important;
    font-size: 18px;
  }
  .submenu_item {
    font-size: 18px;
  }
}
@media screen and (min-width: 1475px) and(max-width:1510px){
  .nav-link {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
    font-size: 18px;
  }
  .submenu_item {
    font-size: 18px;
  }
}
@media screen and (min-width: 1510px) and(max-width:1525px){
  .nav-link {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
    font-size: 18px;
  }
  .submenu_item {
    font-size: 18px;
  }
}
@media screen and (min-width: 1525px) and(max-width:1580px){
  .nav-link {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
    font-size: 19px;
  }
  .submenu_item {
    font-size: 19px;
  }

}
@media screen and (min-width: 1580px) and(max-width:1630px){
  .nav-link {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
    font-size: 20px;
  }
}
@media screen and (min-width: 1630px) and(max-width:1730px){
  .nav-link {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
    font-size: 21px;
  }
}
@media screen and (min-width: 1730px) and(max-width:1765px){
  .nav-link {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
  }
}
@media screen and (min-width: 1765px) and(max-width:1810px){
  .nav-link {
    padding-right: .65rem !important;
    padding-left: .65rem !important;
  }
}
@media screen and (min-width: 1810px) and(max-width:1880px){
  .nav-link {
    padding-right: .8rem !important;
    padding-left: .8rem !important;
  }
}
@media screen and (min-width: 1880px) and(max-width:1920px){
  .nav-link {
    padding-right: .9rem !important;
    padding-left: .9rem !important;
  }
}
.place_for_button_search_1,.place_for_button_search_2 {
  td {
    background: transparent !important;
  }
  tr{
    background: transparent !important;
    border: none !important;
  }
}
.gsc-input-box{
  border:none !important;
  background: none !important;
  table {
    margin-bottom: 0 !important;
    border-color: transparent !important;;
  }
}
#gs_tti50,#gs_tti51{
  input{
    background: none !important;
    text-indent: 5px !important;
    border: 1px solid black !important;
    background: white !important;
    border-radius: 20px !important;
    padding: 5px !important;
  }
}
#gs_tti51{
  input{
    width: 100% !important;
    margin-left: 0 !important;
  }
}
.gsc-control-cse{
  padding: 0 !important;
  background-color: transparent!important;
  border: none !important;
}
.gsc-search-box{
  td{ border: none !important;
    padding: 1px !important;}
}
.gsc-search-button-v2{
  border-color: transparent !important;
  background-color: #4d4d4d !important;
  border-radius: 50% !important;
  padding: 12px 12px !important;
}
.gsc-search-button-v2:hover{
  background-color: #636363 !important;
}
.gcsc-find-more-on-google-root{
  display: none !important;
}
.gcsc-branding, .gcsc-branding-text:not(.gcsc-branding-text-name){
  display: none !important;
}
.gsc-above-wrapper-area{
  display: none !important;
}
.gcsc-find-more-on-google-branding{
  display: none !important;
}
.gcsc-more-maybe-branding-root{
  display: none !important;
}
.gs-webResult div.gs-visibleUrl-long, .gs-promotion div.gs-visibleUrl-long {
  display: none !important;
}
.gs-result .gs-title, .gs-result .gs-title * {
  color: black !important;
}
.gsc-positioningWrapper{
  display: none !important;
}
.gsc-preview-reviews, .gsc-control-cse .gs-snippet, .gsc-control-cse .gs-promotion em, .gsc-control-cse .gs-snippet, .gsc-control-cse .gs-promotion em,
.gs-result .gs-title, .gs-result .gs-title * {
  font-size: 20px !important;
  line-height: 30px !important;
  font-family: 'Exo 2', sans-serif;
}
.gsc-adBlock{
  display: none !important;
}
@media screen and (max-width: 768px){
  .gsc-preview-reviews, .gsc-control-cse .gs-snippet, .gsc-control-cse .gs-promotion em, .gsc-control-cse .gs-snippet, .gsc-control-cse .gs-promotion em,
  .gs-result .gs-title, .gs-result .gs-title * {
    font-size: 13px !important;
    line-height: 15px !important;
  }
}
@media screen and (min-width: 768px)and (max-width: 1200px) {
  .gsc-preview-reviews, .gsc-control-cse .gs-snippet, .gsc-control-cse .gs-promotion em, .gsc-control-cse .gs-snippet, .gsc-control-cse .gs-promotion em,
  .gs-result .gs-title, .gs-result .gs-title * {
    font-size: 15px !important;
    line-height: 20px !important;
  }
}
@media screen and (min-width: 1200px)and (max-width: 1600px) {
  .gsc-preview-reviews, .gsc-control-cse .gs-snippet, .gsc-control-cse .gs-promotion em, .gsc-control-cse .gs-snippet, .gsc-control-cse .gs-promotion em,
  .gs-result .gs-title, .gs-result .gs-title * {
    font-size: 18px !important;
    line-height: 25px !important;
  }
}