#footer{
  background: black;
  max-height: 100%;
  height: auto;
  padding-right: 2%;
  padding-left: 2%;
}
.flex_1,.flex_2{
  display: flex;
}
#footer.callback-bt{
  display: none;
}
#footer .row{
  display: flex;
  padding-top: 2%;
}
#footer .part_1{
  padding-right: 0 !important;
  padding-left: 0 !important;
}
#footer .col, .col-2, .col-3{
  width: 100%;
  font-size: 18px;
}
#footer a{
  color: #c0c0c0;
  font-family: 'Exo 2', sans-serif;
}
#contact{
  padding-bottom: 9% !important;
  color: white !important;
  font-weight: 600 !important;
}
[dir=rtl] #footer ul{
  padding-left: 20px !important;
}
#footer ul{
  text-align: left;
  padding-bottom: 5%;
  padding-left: 0 !important;
  padding-inline-start: 0 !important;
  -webkit-inline-start: 0!important;
  li{
    font-size: 18px;
    font-family: 'Exo 2', sans-serif;
    list-style-type: none; /* Убираем маркеры у списка */
  }
  li:first-child{
    padding-bottom: 1%;
    font-weight: 600;
    a{
      color: white;
      font-weight: 700 !important;
    }
  }
}
#footer .col-3 li:nth-child(2){
  padding-bottom: 1%;
  a{
    color: white;
    font-weight: 700 !important;
  }
}
#footer .col-3, .col-2{
  max-width: 100% !important;
}

@media screen and (max-width: 768px){

  #footer .col, .col-2, .col-3,.col-4{
    flex:0 0 auto !important;
  }
  #footer li{
    text-align: center;
    font-size: 13px !important;
  }
  #footer .col{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  #footer .flex_2{
    flex-direction: column;
    .col,.col-4{
      flex: 0 0 auto !important;
    }
    .col-4{
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  #footer .flex_1{
    flex-direction: column;
    .col,.col-4{
      flex: 0 0 auto !important;
    }
    .col-4{
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  #footer ul{
    padding-inline-start: 0 !important;
    padding-bottom: 0 !important;
  }
  #footer{
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}
@media screen and (min-width:768px) and(max-width: 1255px){
  #footer .flex_1{
    flex-direction: column;
    .part_1{
      flex: 0 0 auto !important;
    }
  }
  #footer li{
    font-size: 15px !important;
    text-align: center;
  }
}
@media screen and (min-width:1255px) and(max-width: 1600px){
  #footer li{
    font-size: 16px !important;
  }

}
